@model string
@{
    ViewData["Title"] = "SetPassword";
}
@section Styles{
        <link rel="stylesheet" href="~/css/SetPassword_style.css" />
        
}
<section>
    <div class="card">

    <!--Change password form-->

    <form asp-controller="Student" asp-action="SetPassword" method="post" >
        
        <img src ="@Url.Content("~/images/lock_yellow.png")" />
        <p><h2><span>Hello </span>new student! </h2></p>
        <p><h3>For safety reasons, you have to enter a new password</h3></p> 
        <div class="inputs">
            <input type="password" placeholder="Old Password" name="oldPassword" class="inpt"/> 
            <input type="password" placeholder="New Password" name="newPassword" class="inpt"/> 
            <input type="password" placeholder="Confirm new Password" name="newPassword1" class="inpt"/> <br />
            <input type="hidden" name="Username" value="@Model" />
            <input type="submit" class="submit" />
        </div>
    </form>

</div>
</section>




@if(ViewBag.wrongPassword == 1){
    <script type="text/javascript">
        window.onload = function () {
    alert('The old password is wrong');
    }
    </script>
}
@if (ViewBag.notSamePasswords == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('The new passwords do not match');
    }
    </script>
}
@if (ViewBag.failure == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Something went wrong please try again');
    }
    </script>
}

@if (ViewBag.emptyPassword == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Please enter a valid password');
    }
    </script>
}