@model string
@{
    ViewData["Title"] = "SetPassword";
}

<h1>SetPassword</h1>


<!--Change password form-->
<form asp-controller="Student" asp-action="SetPassword" method="post" >
    <div>
        <h2>Hello new student. For safety reasons, you have to enter a new password.</h2>
    </div> <br />
    <div>
        Enter your old password <input type="password" name="oldPassword"/> <br /><br />
        Enter your new password <input type="password" name="newPassword"/> <br /><br />
        Confirm your new password <input type="password" name="newPassword1"/> <br />
        <input type="hidden" name="Username" value="@Model" />
        <input type="submit" />
    </div>
</form>
<br /><br />


@if(ViewBag.wrongPassword == 1){
    <script type="text/javascript">
        window.onload = function () {
    alert('The old password is wrong');
    }
    </script>
}
@if (ViewBag.notSamePasswords == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('The new passwords do not match');
    }
    </script>
}
@if (ViewBag.failure == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Something went wrong please try again');
    }
    </script>
}

@if (ViewBag.emptyPassword == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Please enter a valid password');
    }
    </script>
}