@{
}

    <div class="forms-container">  
        <div class="signin">
            <form asp-controller="Teacher" asp-action="Search" method="post" class="sign-in-form">
                <h2 class="title">Search for a student by name or id</h2>

                <div class="inputs">
                    <img src="@Url.Content("~/images/user.png")" alt="User" class="icons">
                    <h1>@ViewBag.Username</h1>
                    <input type="text" placeholder="Username"  />
                </div>
                <!-- Submit button -->
                <input type="submit" class="btn solid" value="Login"/>
            </form>
        </div>
    </div>

    <br /><br /><br />
    
    <a  asp-controller="Teacher" asp-action="AddStudent" asp-route-username="@ViewBag.Username" >
        Add Student
    </a>