@{   
    ViewData["Title"] = "Manage your Students";
}

    <div > 
            <form asp-controller="Teacher" asp-action="Search" method="get" >
                <h2 class="title">Search for a student by name or id</h2>

                <div class="inputs">
                    <input type="text" name="queryString" placeholder="Name or id"  />
                </div>
                <!-- Submit button -->
                <input type="submit" class="btn solid" value="Login"/>
            </form>
    </div>

    <br /><br /><br />
    
    <a  asp-controller="Teacher" asp-action="AddStudent" asp-route-username="@ViewBag.Username" >
        Add Student
    </a>