body {
    background-color: rgba(6,123,194,0.6);
}
* {
    font-family: 'Nirmala UI';
}

section{
    display:flex;
    justify-content:center;
    align-items:center;
}
.card {
    text-align: center;
    width: 400px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0.1, 0.1, 0.1);
    border-radius: 18px;
    margin: 10%;
    padding: 30px;
    background-color: white;
    align-content:center;
}
    .card span {
        font-weight:800;
        color:#067BC2;
        font-size:35px;
    }
    .card .inputs{
        width:90%;   

    }
    .card img{
        width:80px;
    }
 
    .card .inpt {
        padding: 8px;
        margin: 10px;
        border-radius: 20px;
        border: 0;
        background-color: #f0f0f0;
        width: 100%;
        font-size: 14px;
    }
    .card .submit {
        padding: 8px;
        margin:10px;
        border-radius: 20px;
        border: 0;
        background-color: rgba(6,123,194,0.6);
        width: 100%;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }
        .card .submit:hover {
            background-color: rgba(6,123,194,0.06);
            color: #3e3e3e;
            cursor: pointer;
        } 

     