body {
    font-family: 'Nirmala UI';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nirmala UI';
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header .logo {
        position: relative;
        right: 10%;
        max-width: 70px;
    }

    header ul {
        position: relative;
        display: flex;
    }

        header ul li {
            list-style: none;
        }

            header ul li a {
                display: inline-block;
                color: #333;
                font-size: 1.2em;
                font-weight: 500;
                margin-left: 40px;
                text-decoration: none;
            }

                header ul li a:hover {
                    transform: translateY(-15px);
                    color: #067BC2;
                    font-size: 1.3em;
                }

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .content .textbox {
        position: relative;
        max-width: 700px;
    }

        .content .textbox h2 {
            color: #333;
            font-size: 4em;
            line-height: 1.4em;
            font-weight: 500;
        }

            .content .textbox h2 span {
                color: #067BC2;
                font-size: 1.2em;
                font-weight: 900;
            }

        .content .textbox p {
            color: #333;
        }

        .content .textbox a {
            display: inline-block;
            margin-top: 20px;
            padding: 8px 20px;
            background: #067BC2;
            color: #fff;
            border-radius: 40px;
            font-weight: 500;
            text-decoration: none;
        }

            .content .textbox a:hover {
                background-color: #376996;
            }

    .content .imgBox {
        width: 600px;
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
        margin-top: 100px;
    }

        .content .imgBox img {
            max-width: 550px;
        }

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #067BC2, #449DD1, #78C0E0);
    clip-path: circle(850px at right 950px);
}
