* {
    box-sizing: border-box;
    font-family: 'Nirmala UI';
}

.title{
    margin-left:5%;
}
    .title span {
        color: #067BC2;
    }
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .main picture{
        display:flex;
        justify-content:center;
    }
    .main .upload_session{
        padding:20px;
    }

.version1 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 350px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0.1, 0.1, 0.1);
    border-radius: 18px;
    margin: 3%;
    padding: 30px;
}

    .main .version1 .inputs{
        width:100%;
        border-radius:15px;
        background-color: whitesmoke;
        border:0px;
        padding:8px;
        margin:10px;
    }


    .main  p{
        color:dimgray;
        padding:10px;
        font-weight:600;
    }
    .main .uploader{
        margin:10px;
        color:dimgray;
    }
    .main .button {
        align-items: center;
        text-decoration: none;
        width: 80%;
        bottom: 10px;
        font-size: 18px;
        border: none;
        margin: 5px;
        border-radius: 20px;
        background-color: #3893CE;
        color: white;
        padding: 8px
    }
        .main .button:hover {
            background-color: #376996;
            color: white;
            cursor: pointer;
        }



.version2 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 350px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0.1, 0.1, 0.1);
    border-radius: 18px;
    margin: 3%;
    padding: 30px;
}

.version3 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 350px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0.1, 0.1, 0.1);
    border-radius: 18px;
    margin: 3%;
    padding: 30px;
}


@media screen and (max-width: 1200px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .thesis_image .pic img {
        display: none;
    }
}